$sbc : #202020;
$tbc : #2F2F2F;
$fbc : #2E2E2E;
$topBarHeight : 80px;
$logoSectionWidth: 300px;
$inactiveTextColor : #B0B0B0;
$sideBarWidth : $logoSectionWidth - 15px;
$alertColor : #FFE605;
$successColor : #00FF00;

