@import './vars';

.inputStyle{
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 10px;
}

.mybutton{
    border: none;
    // padding: 5px 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}
.submit{
    background-color: #00868D ;
}

.submit:hover{
    background-color: #00868D ;
    opacity: .8;
}

.cancel{
    background-color: #FF0000;
}
.cancel:hover{
    background-color: #FF0000;
    opacity: .8;
}

.titleDateRoot{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .titleDateRootRight{
        display: flex;
        align-items: center;
        > div{
            margin-left: 10px;
        }
    }
}
.feedbackContentRoot{
    padding-top: 10px;
    .ratingsContainer{
        width: 80%;
        > div{
            display: flex;
            justify-content: space-between;
            padding : 10px;
        }
    }

    .textFieldContainer{
        margin: 10px;
    }
    .labelContainer{
        padding: 10px 0px;
    }
    .ratingsSubmitButtonContainer{
        text-align: center;
    }
}
.feedbackContainer{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.dateWithIconContainer{
    display: flex;

}
.feedbackTitleContainer{
    display: flex;
    justify-content: space-between;


}

.messManagerRoot{
    display: inline-block;
    padding: 15px;
    margin : 10px;
    background-color: #111111;
    .picAndInfoRoot{
        display: flex;
    }
    .timeRangeContainer{
        margin-top: 10px;
        text-align: center;
    }
    border-radius: 10px;
    // .infoRoot{
    //     >div {
    //         display: flex;
    //         justify-content: space-between;
    //     }
    // }
}