@import './vars';
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html{
    height: 100%;
}
body{
    all : unset;
    height: 100%;
    background-color: black;
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
    display: block;
}

.contentRoot{
    margin-left: $sideBarWidth + 20px;
    // background-color: red;
    margin-top: 30px;
}

#__next{
    height: 100%;
}