@import './vars';

.root{
    height: 100%;
    margin-left: auto;
    color: white;
    border: 1px green solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputContainer{
    margin: 10px;
}

.logoContainer{
    text-align: center;
    margin-bottom: 30px;
}

.buttonContainer{
    text-align: center;
    margin-top: 20px;
}

.loginSubmitButton{
    // width: 130px;
    // display: flex;
    flex-grow: 1;
}

.messageContainer{
    
    margin: 10px;
    text-align: center;
    min-height: 20px;
}

.errorTextContainer{
    color : red;
}
.loadingTextContainer{
    color : $alertColor;
}