.newSeat {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  .doc {
    margin-top: 50px;
    margin-right: 20px;
  }
}

.profile {
  padding: 10px;
}

.questionnaire {
  padding: 10px;
}

.agreement {
    margin: 30px;
    text-align: center;
    //display: flex;
    // justify-content: space-around;
    .agreement-text {
        margin-top: 10px;
        margin-left: 10px;
    }
}

.submit {
  text-align: center;
    margin: auto;
    padding-bottom: 20px;
    
    .submit-text {
        margin-top: 10px;
        margin-left: 10px;
    }
}

.prevAllocations {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  .agreement-text {
    margin-top: 10px;
    margin-left: 10px;
  }
}

.row{
  // background-color: red;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  // align-items: baseline;
  margin-right: 20px;
}

.profDocCol{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  >div{
    margin-bottom: 20px;
  }
}

.prevAllocContainer{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.docLink{
  all : unset;
}