@import './vars';
$notSectionWidth : 200px;
$circleColor : #00FFF5;
$circleDiameter : 24px;
$circleYShift : 4px;
$circleRightMargin : 8px;
$logoTextColor : #ffffff;
$iconHW : 62px;

.root{
    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
    }
    background-color: $sbc;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding-bottom: 11px;
    // justify-content: center;
}

.logo{
    box-sizing: border-box;
    font-size: 24px;
    color: $logoTextColor;
    .logoCircle{
        width: $circleDiameter;
        height: $circleDiameter;
        border-radius: 50%;
        background-color: $circleColor;
        display: inline-block;
        transform: translateY($circleYShift);
        margin-right: $circleRightMargin;
    }
}

.logoSection{
    // background-color: blue;
    width: $logoSectionWidth;
    padding-left: 60px;
}

.tabSection{
    // background-color: orange;
    flex-grow: 1;
    display: flex;
    height: 100%;
    align-items: flex-end;
    .tabs{
        padding: 0px;
        margin : 0px;
        list-style-type: none;
        display: inline-flex;
        color: $inactiveTextColor ;
        // background-color: green;
        li{
            // background-color: red;
            // .liInsideDiv{

                display: grid;
                align-items: end;
                // padding: 5px 40px;
                div{
                    grid-row: 1;
                    grid-column: 1;
                }
    
                .tabBackGround{
                    transform: translate(0, 15px);
                    visibility: hidden;
                    // display : 
                    // transform: scale(.8) translate(0, 15px);
                    // background-color: yellow;
                }
                .active{
                    visibility: visible;
                    color: $logoTextColor;
                }
                .tabText{
                    // background-color: red;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    z-index: 2;
                    // background-color: blue;
                    height: 100%;
                    box-sizing: border-box;
                    padding-bottom: 15px;
                }
            // }
            // transform: scale(.7);
            // background-color: green;
            // height: 50px;
            // clip-path: url('../public/tabActive2.svg');
            // border-top: white 1px solid;
        }
    }
}

.notSection{
    // background-color: gray;
    width: $notSectionWidth;
    display: flex;
    justify-content: space-around;
}   

.icon{
    height: $iconHW;
    width: $iconHW;
    text-align: center;
    background-color: $tbc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}